.navbar {
	padding: 2em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.navbar-logo {
	width: 130px;
}

.nav-btn-container {
	display: flex;
	column-gap: 10px;
}
