:root {
	--brown: #093009;
	--brown-light: #0d3e10;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
	background-color: #000000 !important;
	background-image: url(./assets/img/bg.png), url(./assets/img/bg-bottom.png) !important;
	background-position: 0 top, 0 bottom !important;
	background-repeat: no-repeat, no-repeat !important;
	background-size: contain, contain !important;
}

footer {
	text-align: center;
	padding: 4em 0 3em 0;
	margin-top: 144px;
	width: 100%;
}

footer a {
	text-decoration: underline;
}
