:root {
	--brown: #093009;
	--brown-light: #0d3e10;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh !important;
	background-color: #000000 !important;
	background-image: url(./assets/img/bg.png), url(./assets/img/bg-bottom.png) !important;
	background-position: 0 top, 0 bottom !important;
	background-repeat: no-repeat, no-repeat !important;
	background-size: 100%, 100% !important;
}

footer {
	margin-top: auto;
	text-align: center;
	padding: 3em 0;
	width: 100%;
}

footer a {
	text-decoration: underline;
}
